<p id="notice"><%= notice %></p>

<h1>Repositorios</h1>

<table>
  <thead>
    <tr>
      <th>Repositorio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @repositorios.each do |repositorio| %>
      <tr>
        <td><%= repositorio.repositorio %></td>
        <td><%= link_to 'Show', repositorio %></td>
        <td><%= link_to 'Edit', edit_repositorio_path(repositorio) %></td>
        <td><%= link_to 'Destroy', repositorio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Repositorio', new_repositorio_path %>
